.container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 40px;
    margin-top: 20px;
}

.filmDetailscontainer {
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.img {
    width: 350px;
    border-radius: 20px;
    box-shadow: 1px 2px 10px 5px lightgray;
}

.title {
    font-size: 40px;
}

.part {
    font-weight: bold;
}

.filmDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link {
    margin-bottom: 30px;
    border: 1px solid red;
    border-radius: 30px;
    padding: 15px;

    width: 100px;
    text-align: center;
    color: red;

    transition: color 0.5s ease, border-color 0.5s ease;
}

.link:hover {
    color: black;
    border: 1px solid black;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.iswatched {
    color: green;
    border: 1px solid green;
    border-radius: 30px;
    text-align: center;
    margin: 10px 0;
    padding: 4px 8px;
}

.error {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 50px;
}