.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /*gap: 150px;*/
    row-gap: 50px;
    column-gap: 150px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    margin-bottom: 20px;
}

.part{
    color: #ef3b3b;
}