.button {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ff3a3a;
    color: white;
    border: 1px solid #ff3a3a;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #ffffff;
    color: #ff3a3a;
    border: 1px solid #ff3a3a;
    outline: none;
}

.button:focus {
    outline: none;
}

.disabled {
    cursor: not-allowed;
    background-color: lightgray;
    color: darkgray;
    border-color: darkgray;
}

.disabled:hover, .disabled:focus {
    cursor: not-allowed;
    background-color: lightgray;
    color: darkgray;
    border-color: darkgray;
}
