.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.partTitle {
    color: #ff2c2c;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.loadMoreBtn {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #ff3a3a;
    color: white;
    border: 1px solid #ff3a3a;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.loadMoreBtn:hover {
    background-color: #ffffff;
    color: #ff3a3a;
}